body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
}

form input {
  width: 100%;
  margin: 0 0 10px 0;
}

input[type="submit"] {
  min-width: 50px;
}

div.react-datepicker__input-container {
  width: 100%;
}

div.react-datepicker__input-container input {
  width: 100%;
}

.win {
  text-align: left;
  font-size: 2em;
  color: green;
}

.loose {
  text-align: left;
  font-size: 2em;
  color: red;
}

.results {
  padding: 20px;
  text-align: left;
}